# {{ ansible_managed }}

[Unit]
Description=Unmount CephFS before shutting down the system
After=network-online.target ceph.target
Before=remote-fs-pre.target
Wants=network-online.target remote-fs-pre.target ceph.target

[Service]
EnvironmentFile=-/etc/default/ceph
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/bin/umount -lf -a -t ceph

[Install]
WantedBy=multi-user.target
