# {{ ansible_managed }}

[Unit]
Description=Mount CephFS
After=network-online.target
Before=remote-fs-pre.target
Wants=network-online.target remote-fs-pre.target

[Service]
EnvironmentFile=-/etc/default/ceph
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/mount -a -t ceph
ExecStop=/usr/bin/umount -lf -a -t ceph

[Install]
WantedBy=multi-user.target
